@font-face{font-family:Gotham;src:url(../gotham.ttf)}
body {
    background-color: #ecf0f3;
}
/*@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}*/
#header {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.42), 0 3px 20px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.dblock {
    display: block;
}
#header img {
    width: 100%;
}
#header h2 {
    text-align: center;
}
#cards a {
    text-decoration: none;
    color: #333;
    width: 25%;
    float: left;
}
@media (max-width: 992px) {
    #cards a {
        width: 50%;
    }
    .card-item {
        margin: 5px!important;
    }
}
.card-item {
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 2px 10px 1px rgba(45,45,45,.2);
    padding: 20px 10px 0;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.stiker {
    display: none;
    /*position: absolute;
    background-color: #e99c29;
    transform: rotate(-45deg);
    left: -108px;
    color: #fff;
    top: 25px;
    width: 300px;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: .90em;
    font-weight: 700;
    padding: 5px 15px;
    box-shadow: 0 2px 10px #575757;*/
}
.stiker-red {
    background-color: #a20505;
}
.stiker-blue {
    background-color: #1e73be;
}
.stiker-green {
    background-color: #16ba78;
}
.card-item img {
    width: 90%;
}
.card-item .important {
    text-align: center;
    margin: 10px 0 5px 0;
    padding: 10px 0;
    font-size: 16px;
    border-top: 2px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
}
.card-info {
    font-family: Gotham, sans-serif;
    padding: 10px 0;
    font-size: 13px;
    margin-bottom: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*.card-info p {
    font-size: .75em;
    line-height: 1.2;
    margin-bottom: 0;
}*/
.card-info span {
    font-weight: 700;
    color: #3dae2b;
}
.btn {
    background-color: #e06816;
    padding: 7px 20px;
    color: #fff !important;
    border: 1px solid #e06816;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
td {
    border: 1px solid #1e1e1e;
    padding: 5px 15px;
}
@media (max-width: 992px)  {
    .btn {
        padding: 10px;
        font-size: 14px;
        width: 90%;
    }
    #header {
        padding: 10px;
    }
    #header h2 {
        font-size: 22px;
    }
    .left {
        display: none;
    }
    .right {
        float: none;
        text-align: center;
    }
    .card-info {
        padding: 5px 0;
        margin-bottom: 0;
    }
}
.btn:hover {
    opacity: .9;
    transition: .5s;
}
#footer {
    background-color: #ecf0f3;
    color: #1e1e1e;
    padding: 25px;
    clear: both;
}
#footer .info>h3,
#footer .creditors-info,
#footer .links>h3 {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #e06816;
    border-bottom: 1px solid #fff;
}
.creditors-info h3 {
    font-size: 16px;
}
#footer ul {
    list-style: none;
    padding-inline-start: 0px;
}
#footer a {
    color: #1e1e1e;
}
#footer .creditors-item {
    border: 1px solid #333;
    padding: 10px 10px 0;
    width: 50%;
}
.creditors-item h3 {
    font-size: 16px;
}
.creditors-item p {
    font-size: 14px;
}
#footer .creditors>ul>li {
    float: left;
    width: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 14px;
}




.best-offer-widget {
    z-index: 98;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.best-offer-widget__wrap:nth-child(1):hover {
    border: 2px solid #59af71;
}

.best-offer-widget__wrap {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #fbfafa;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
    font-size: 20px;
    width: 420px;
    height: 95px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 9999;
    position: relative;
}

.best-offer-widget__close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    font-size: 22px;
    color: #4b68b1;
    right: 9px;
    z-index: 99999;
}

.best-offer-widget__close-wrap {

}

.best-offer-widget__logo {
    display: inline-block;
    margin: 0 auto;
    margin-top: 17px;
    height: 49px;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-offer-widget__text {
    display: inline-block;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0px;
    color: #0a0a0a;
}

.best-offer-widget a {
    text-decoration: none !important;
}

@media screen and (max-width: 450px) {

    .best-offer-widget__logo {
        display: block;
        margin-top: 0;
    }

    .best-offer-widget__text {
        font-size: 19px;
        padding-top: 10px;
        text-align: center;
        margin-top: -4px;
        display: block;
    }

    .best-offer-widget__wrap {
        background-color: #fbfafa;
        /* border-radius: 10px; */
        -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
        font-size: 20px;
        width: 90%;
        height: 120px;
        float: inherit;
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 0 auto;
        text-align: center;
    }
}