
.bem_offer {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 21px;
    padding: 20px;
    position: relative;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.2s;
    padding-top: 40px!important;
    padding-bottom: 5px;
}

.offer-logo {
    margin: 0 auto;width: 100%;max-width: 170px;height:90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 997px) {
    .bem_offer {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .bem_offer:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .bem_offer {
        display: block;
        width: auto;
        margin-right: 0;
        padding: 15px;
    }
}

.bem_offer:link, .bem_offer:visited {
    color: #616060;
    text-decoration: none;
}

.bem_offer:hover {
    border-color: #00a0d5;
}

.bem_offer:hover .bem_offer__note {
    background: #00a0d5;
}

.bem_offer:hover .bem_offer__get .button {
    background-color: #00a0d5;
}

.bem_offer__note {
    background: -webkit-linear-gradient(0deg, #73b3d3 23%, #73b3d3 66%, #73b3d3 100%);
    background: -moz-linear-gradient(0deg, #73b3d3 23%, #73b3d3 66%, #73b3d3 100%);
    background: -o-linear-gradient(0deg, #73b3d3 23%, #73b3d3 66%, #73b3d3 100%);
    background: -ms-linear-gradient(0deg, #73b3d3 23%, #73b3d3 66%, #73b3d3 100%);
    background: #73b3d3;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px 7px;
    position: absolute;
    left: 9px;
    line-height: 1;
    transition: 0.2s;
    text-transform: uppercase;
    top: 0;
}

.bem_offer__info, .bem_offer__image, .bem_offer__text, .bem_offer__get {
    vertical-align: top;
    width: 25%;
    font-size: 14px;
}

@media (max-width: 997px) {
    .bem_offer__info, .bem_offer__image, .bem_offer__text, .bem_offer__get {
        width: auto;
    }
}

.bem_offer__info {
    vertical-align: middle;
    max-width: 158px;
    margin: 0 auto;
}

@media (max-width: 997px) {
    .bem_offer__info {
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .bem_offer__info {
        margin-bottom: 10px;
    }
}

.bem_offer__text {
    font-size: 16px;
}

.bem_offer__text span {
    color: #73b3d3;
}

@media (max-width: 997px) {
    .bem_offer__text {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .bem_offer__text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.bem_offer__image {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 997px) {
    .bem_offer__image {
        display: block;
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .bem_offer__image {
        margin-bottom: 10px;
    }
}

.bem_offer__get {
    text-align: right;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

@media (max-width: 1025px) {
    .bem_offer__get {
        width: 19%;
    }

    .bem_offer__get .button {
        margin-top: 0px!important;
    }
}

@media (max-width: 997px) {
    .bem_offer__get {
        text-align: center;
        display: block;
        width: auto;
    }
}

.bem_offer__get .button {
    line-height: 1;
    margin-top: -30px;
}

@media (max-width: 992px) {
    .bem_offer_success {
        padding: 23px 32px;
    }
}

@media (max-width: 565px) {
    .bem_offer_success {
        display: block;
        width: auto;
        max-width: 454px;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .bem_offer_success:nth-child(2n) {
        margin-right: auto;
    }
}

.bem_offer_success .bem_offer__info {
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .bem_offer_success .bem_offer__info .bem_param {
        width: 50%;
    }

    .bem_offer_success .bem_offer__info .bem_param:nth-child(even) {
        width: 40%;
    }
}

@media (max-width: 565px) {
    .bem_offer_success .bem_offer__info {
        margin-bottom: 20px;
    }

    .bem_offer_success .bem_offer__info .bem_param {
        margin-bottom: 23px;
    }
}

.bem_offer_success .bem_offer__text {
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .bem_offer_success .bem_offer__text {
        display: none;
    }
}

.bem_offer_success .bem_offer__text br {
    display: none;
}

.bem_advantage {
    background: no-repeat center top;
    padding-top: 77px;
    margin-bottom: 64px;
}

.bem_advantage_type_diagram {
    background-image: url(/web/ico__diagram.png);
}

.bem_advantage_type_wallet {
    background-image: url(/web/ico__wallet.png);
}

.bem_advantage_type_zero-percent {
    background-image: url(/web/ico__zero-percent.png);
}

.bem_advantage_type_thumb-up {
    background-image: url(/web/ico__thumb-up.png);
}

.bem_advantage_type_timer {
    background-image: url(/web/ico__timer.png);
}

.bem_advantage_type_24-hours {
    background-image: url(/web/ico__24-hours.png);
}

.bem_advantage_type_card-in-hand {
    background-image: url(/web/ico__card-in-hand.png);
}

.bem_advantage_type_client {
    background-image: url(/web/ico__client.png);
}

.bem_advantages {
    padding-top: 60px;
}

@media (max-width: 769px) {
    .bem_advantages {
        padding-top: 30px;
    }
}

.bem_advantages__headline {
    color: #1a1919;
    text-align: center;
    margin-bottom: 47px;
}

@media (max-width: 480px) {
    .bem_advantages__headline {
        margin-bottom: 26px;
    }
}

.bem_header__left {
    margin-top: 28px;
}

.bem_header__left a {
    line-height: 1;
}

@media (max-width: 769px) {
    .bem_header__left {
        margin-top: 17px;
    }
}

.bem_header__content {
    /* border-bottom: 1px solid rgba(186, 186, 186, 0.1);
    padding-bottom: 22px; */
}

@media (max-width: 769px) {
    .bem_header__content {
        padding-bottom: 17px;
    }
}

@media (max-width: 480px) {
    .bem_header__content {
        border-bottom: 0;
    }
}

.bem_header__center {
    font-size: 16px;
    text-align: center;
    margin-top: 28px;
}

.bem_header__center strong {
    display: block;
    color: #73b3d3;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 769px) {
    .bem_header__center strong {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .bem_header__center strong {
        margin-top: 0;
        display: inline;
    }
}

@media (max-width: 769px) {
    .bem_header__center {
        font-size: 14px;
        margin-top: 17px;
    }
}

.bem_header__right {
    font-size: 16px;
    text-align: right;
    margin-top: 28px;
}

.bem_header__right strong {
    color: #73b3d3;
    font-weight: 700;
}

@media (max-width: 769px) {
    .bem_header__right strong {
        font-size: 14px;
    }
}

@media (max-width: 769px) {
    .bem_header__right {
        font-size: 14px;
        margin-top: 17px;
    }
}

@media (max-width: 480px) {
    .bem_header__right {
        /*      background-color: rgba(186, 186, 186, 0.1);*/
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0;
        text-align: center;
    }
}

.bem_footer__content {
    background: #73b3d3;
    padding: 12px 0;
}

.bem_footer__copy {
    color: #fff;
    padding-left: 67px;
}

@media (max-width: 769px) {
    .bem_footer__copy {
        padding-left: 0;
    }
}

.bem_offers__text {
    padding: 0 67px;
}

@media (max-width: 769px) {
    .bem_offers__text {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .bem_offers__text {
        margin-top: 41px;
    }
}

.bem_param {
    background: left center no-repeat;
    padding-left: 30px;
    font-size: 16px;
}

.bem_param_type_coin {
    background-image: url(/web/ico__coins.png);
}

.bem_param_type_percent {
    background-image: url(/web/ico__percent.png);
}

.bem_param_type_age {
    background-image: url(/web/ico__age.png);
}

.bem_param_text {
    padding-left: 0;
}

.bem_param_text .bem_param__label {
    color: #999999;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.bem_param_text .bem_param__value {
    color: #616060;
    display: block;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}


.button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7;
    background: #73b3d3 url(/web/arrow-right_circle.svg) center right 4% no-repeat;
    border-radius: 34px;
    color: #FFFFFF;
    padding: 21px 26px;
    /*padding-right: 66px;*/
    margin: 1px auto 0;
    display: inline-block;
    transition: 0.2s;
}

.lic .col-md-3 {
    border: 1px solid #eee;
}