










@font-face {
    font-family: 'FuturaNewBold-Reg';
    src: url('../fonts/FuturaNewBold-Reg.eot');
    src: url('../fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNewLight-Reg';
    src: url('../fonts/FuturaNewLight-Reg.eot');
    src: url('../fonts/FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaNewLight-Reg.woff2') format('woff2'),
    url('../fonts/FuturaNewLight-Reg.woff') format('woff'),
    url('../fonts/FuturaNewLight-Reg.ttf') format('truetype'),
    url('../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemi';
    src: url('../fonts/FuturaDemi.eot');
    src: url('../fonts/FuturaDemi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaDemi.woff2') format('woff2'),
    url('../fonts/FuturaDemi.woff') format('woff'),
    url('../fonts/FuturaDemi.ttf') format('truetype'),
    url('../fonts/FuturaDemi.svg#FuturaDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #f3f3f3;
    /*font-size: 18px;*/
    color: #333;
}

header {
    background: url(../img/anketa/header.jpg) no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

header p {
    font-family: 'FuturaNewLight-Reg';
    font-size: 24px;
}

header .header-title {
    font-family: 'FuturaDemi';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

header .description {
    font-size: 24px;
    margin-bottom: 80px;
}

.main {
    background: #f6f4f4;
}

.container {
    max-width: 1080px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: -4px;
}


.logo {
    display: inline-block;
    background: url(../img/Logo-Color.svg) no-repeat left center;
    height: 41px;
    width: 142px;
}

.logo__header {
    float: left;
}

.logo-header-text {
    float: right;
    font-size: 14px;
    color: #5d5d5d;
    margin-left: 22px;
    /* font-family: 'FuturaDemi'; */
    text-transform: uppercase;
    margin-top: 7px;
}




.m_click_show .col-md-6  {
}

.license-block__wrap {
    padding: 10px;
    margin: 10px;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    min-height: 15em;
}
.license-block__wrap h3 {
    margin-top: 0!important;
}

.logo-row {
    padding-top: 60px;
    padding-bottom: 40px;
}

a.site {
    font-family: 'FuturaNewLight-Reg';
    font-size: 24px;
    color:#fefefe;
    opacity: 0.4;
    text-decoration: underline;
}

a.site:hover,
a.site:active,
a.site:focus {
    color:#fefefe;
    opacity: 1;
}

.header-left,
.header-right {
    font-family: 'FuturaDemi';
    font-size: 24px;
    color:#fff;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.header-left {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 30px;
    background: #52cc4b;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header-right {
    margin-left: -15px;
    margin-right: -15px;
    padding-left:30px;
    background: #b9b9b9;
}

.main {
    position: relative;
    overflow: hidden;
}

.main:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    display: block;
    width: 66.66666667%;
    height: 74px;
    background: #ff8500;
    z-index: -1;
}

.main:after {
    content: "";
    position: absolute;
    right:0;
    top:0;
    display: block;
    width: 33.33333333%;
    height: 74px;
    background: #b9b9b9;
    z-index: -1;
}


.list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 16px;
    color:#666;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.list > li {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    clear: both;
}

.list > li > .vcenter:not(.round) {
    font-family: 'FuturaNewBold-Reg';
    font-size: 16px;
    line-height: 1.2;
}

.list.plus > li {
    font-family: 'FuturaNewLight-Reg';
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.2;
}

.list.plus > li:before {
    font-family: 'FuturaDemi';
    font-size: 26px;
    display: block;
    content:"+";
    position: absolute;
    left:25px;
    color: #46a461;
    line-height: 25px;
}

.list .round {
    font-family: 'FuturaDemi';
    color:#fff;
    background: #ff8500;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
}

.list.plus > li > span {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-left: -4px;
}

.bottom-lbl:after {
    content: "";
    position: absolute;
    left: 0;
    height: 74px;
    background: #b9b9b9;
    width: 1000%;
    margin-top: -20px;
    z-index: -1;
}

.content-right {
    background: #fff;
}

.content-right .col-md-12 {
    background: #fff;
}

.content-right:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1500px;
    background: #fff;
    width: 1000%;
    z-index: -1;
}

.content-right.bottom:after {
    content: none;
}

.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f9fafb;
}

.main-content h1 {
    font-family: 'FuturaNewBold-Reg';
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.content-text {
    font-size: 18px;
}


.content-text p {
    font-family: 'FuturaNewLight-Reg';
}

form {
    margin-bottom: 25px;
}

form label {
    font-family: 'FuturaDemi';
    font-size: 16px;
    color:#666;
    margin-left: 10px;
}

form .help {
    font-size: 14px;
    font-family: 'FuturaNewLight-Reg';
    color:#34495e;
    line-height: 1;
}

form span.required {
    font-family: 'FuturaNewBold-Reg';
    color:#cf000f;
}

form .header {
    font-family: 'FuturaNewBold-Reg';
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:#666;
}

form .checkbox label {
    font-family: 'FuturaNewLight-Reg';
    font-size: 12px;
}

form .submit-row {
    margin-top: 15px;
    margin-bottom: 15px;
}


footer {
    font-family: 'FuturaNewLight-Reg';
    font-size: 18px;
    text-align: center;
    color: #666;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #fefefe;
}

footer .logo {
    margin-bottom: 20px;
    height: 47px;
    width: 165px;
}

.has-error label {
    color:#ff3600 !important;
}

.has-error .form-control {
    border-color: #ff3600 !important;
}

.has-error .form-control:focus {
    border-color: #ff3600 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.has-success label {
    color:#44a760 !important;
}

.has-success .form-control {
    border-color:#44a760 !important;
}

.help-block {
    font-size: 14px;
}

.has-error .help-block {
    color:#ff3600;
}

.btn-submit {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    background-color:#52cc4b;
    padding: 10px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    /*-webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);*/
    /*-moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);*/
    /*box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);*/
}

.btn-submit:hover,
.btn-submit:focus {
    text-decoration: none;
    color:#fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color:#3a9614;
}

.btn-submit:active {
    outline: 0;
    background: rgba(64,137,85,1);
    background: -moz-linear-gradient(top, rgba(64,137,85,1) 0%, rgba(50,124,72,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(64,137,85,1)), color-stop(100%, rgba(50,124,72,1)));
    background: -webkit-linear-gradient(top, rgba(64,137,85,1) 0%, rgba(50,124,72,1) 100%);
    background: -o-linear-gradient(top, rgba(64,137,85,1) 0%, rgba(50,124,72,1) 100%);
    background: -ms-linear-gradient(top, rgba(64,137,85,1) 0%, rgba(50,124,72,1) 100%);
    background: linear-gradient(to bottom, rgba(64,137,85,1) 0%, rgba(50,124,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#408955', endColorstr='#327c48', GradientType=0 );
    -webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
    box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
}

select {
    background: transparent;
    -webkit-box-shadow: inset 0px -4px 0px 0px #edeeee !important;
    -moz-box-shadow: inset 0px -4px 0px 0px #edeeee !important;
    box-shadow: inset 0px -4px 0px 0px #edeeee !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}

.select::after {
    content:"";
    position: relative;
    float: right;
    right: 10px;
    bottom: 20px;
    display: block;
    width: 10px;
    height: 7px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHBAMAAADDgsFQAAAAMFBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIhjDG72AAAAD3RSTlMAd0YU5fHWrquTil4zIAkP6pOfAAAAMElEQVQI12MwFBQUFGJg////fywDs////xsYGPT//2BgYOD87wwk+fIVGIDgFAMDABeNC7AbQmfJAAAAAElFTkSuQmCC') center no-repeat;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    margin-left: 20px;
}

input[type="checkbox"] + span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 23px;
    width: 23px;
    background: #fff;
    border: solid #d9d9d9 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="checkbox"]:checked + span::after {
    position:absolute;
    top:2px;
    left: 1px;
    content: "";
    display: inline-block;
    height: 17px;
    width: 24px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARBAMAAAA1VnEDAAAALVBMVEUAAAAshkYshkYshkYshkYshkYshkYshkYshkYshkYshkYshkYshkYshkYshkYt/cpjAAAADnRSTlMABZ+rUiKn4uFWULevHuxG0OAAAABvSURBVAjXRcm7CYNgAEXhY0iVStKGDJAm4CLyr+ACdo5g7yS2buEQCj5A7gy+LnqaU3xcRT/u3qpu+GuGLwZ1RE0wKOOjwjDEtBoDBmrt9JD6GF7SFNgggYNKAzw3yg2QSieYDKYdTAbTcoApO78Cxx458grSvSEAAAAASUVORK5CYII=') center no-repeat;
}

.green {
    background: #52cc4b;
}

[class*='table-col-'] {
    text-align: center;
    display: block;
    float: left;
}

.propositions [class*='table-col-'] {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    float: none;
    margin-left: -4.2px;
    padding-left: 5px;
    color:#333;
    font-family: 'FuturaNewLight-Reg';
}

.propositions [class*='table-col-'] > div {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.propositions [class*='table-col-'] > .title {
    display: none;
}

.header-row > div {
    font-family: 'FuturaNewBold-Reg';
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    color:#666;
}

.header-row {
    background:#f6f4f4;
}

.table-col-1 {
    width: 17%;
}

.table-col-1.first {
    width: 15%;
}

.table-col-2 {
    width: 11%;
}

.table-col-2.summ-col {
    width: 15%;
}

.table-col-3 {
    width: 25%;
}

.table-content-row {
    padding-left: 40px;
    padding-right: 40px;
}

.propositions {
    background: #fff;
}

.table-content-row .desc > img {
    margin-left: auto;
    margin-right: auto;
}

.table-btn-row > a,
.table-btn-row > button,
.search-row button {
    font-size: 15px;
}

.search-row {
    padding-top: 40px;
    margin-bottom: 30px;
}

.search-row .title {
    font-family: 'FuturaNewLight-Reg';
    text-align: center;
    font-size: 18px;
    color:#333;
    margin-bottom: 30px;
}

.search-row button {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
}

.table-content-row:nth-child(2n+2) {
    background: #fbfafa;
}

.table-content-row:hover {
    background: rgba(254,135,38,0.05);
}

.header-left.orange {
    background: #ff8500;
}

.reviews {
    padding-bottom: 50px;
    background: #fff;
}

.reviews-block {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.review-text {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: 'FuturaNewLight-Reg';
    font-size: 16px;
}

.reviews-block .col-md-12 > .row {
    margin-bottom: 35px;
    margin-top: 30px;
}

.review-text > div:first-child {
    height: 100px;
}

.review-text > div.author-data {
    margin-top: 10px;
    height: 35px;
    text-align: right;
    text-transform: uppercase;
    color:#666;
}

.author-data .author {
    font-family: 'FuturaNewBold-Reg';
}

.modal-title {
    font-family: 'FuturaDemi';
    color:#666;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.modal-title > span {
    color:#ff8500;
}

.close {
    font-size: 50px;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    border-radius: 0;
}

.modal-footer {
    text-align: center;
}

.modal-footer > .btn-submit {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 10px;
}

.modal-footer {
    border-top: 0;
}

.modal-footer >  .btn-cancel {
    margin-left: 10px;
}

.btn-cancel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    background: rgba(217,217,217,1);
    background: -moz-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(197,197,197,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(217,217,217,1)), color-stop(100%, rgba(197,197,197,1)));
    background: -webkit-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(197,197,197,1) 100%);
    background: -o-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(197,197,197,1) 100%);
    background: -ms-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(197,197,197,1) 100%);
    background: linear-gradient(to bottom, rgba(217,217,217,1) 0%, rgba(197,197,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#c5c5c5', GradientType=0 );
    padding: 10px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.17);
}

.btn-cancel:hover,
.btn-cancel:focus {
    text-decoration: none;
    color:#fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-cancel:active {
    outline: 0;
    background: rgba(197,197,197,1);
    background: -moz-linear-gradient(top, rgba(197,197,197,1) 0%, rgba(217,217,217,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(197,197,197,1)), color-stop(100%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(top, rgba(197,197,197,1) 0%, rgba(217,217,217,1) 100%);
    background: -o-linear-gradient(top, rgba(197,197,197,1) 0%, rgba(217,217,217,1) 100%);
    background: -ms-linear-gradient(top, rgba(197,197,197,1) 0%, rgba(217,217,217,1) 100%);
    background: linear-gradient(to bottom, rgba(197,197,197,1) 0%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#d9d9d9', GradientType=0 );
    -webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
    box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.17);
}

.modal-footer {
    padding-bottom: 40px;
}

.modal-footer > .btn-cancel {
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 15px;
}

.modal-body {
    padding-left: 40px;
    padding-right: 40px;
}

.top-0 {
    margin-top: 0 !important;
}

.top-50 {
    margin-top: 50px !important;
}





@media (min-width: 992px) {
    .header-left {
        padding-left: 30px;
    }

    .list.plus {
        height: 448px;
    }

    .content-left form {
        padding-left: 25px;
    }

    .main-content {
        padding-left: 40px;
        padding-right: 40px;
    }


    #order-form input:focus::-webkit-input-placeholder {
        opacity: 0;
    }

    #order-form input:focus:-moz-placeholder {
        opacity: 0;
    }

    #order-form input:focus::-moz-placeholder {
        opacity: 0;
    }

    #order-form input:focus:-ms-input-placeholder {
        opacity: 0;
    }
}


@media (max-width: 1200px) {

    header {
        background: url(../img/anketa/header.jpg) no-repeat bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #fff;
    }

    .review-text {
        font-size: 12px;
    }

    .review-text > div {
        height: auto !important;
    }

    .search-row .form-group .col-sm-3 {
        margin-top: 25px;
    }

    .review-text > div.author-data {
        margin-top: 20px;
        font-size: 10px;
        margin-bottom: 60px !important;
    }

    .reviews {
        padding-bottom: 0;
    }

    .reviews-block .col-md-12 > .row {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .reviews-block .col-md-12 > .row:first-child {
        margin-top: 40px !important;
    }

    .reviews-block .item img {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .review-text > div.author-data {
        margin-top: 10px;
    }

    .review-text > div.author-data {
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .review-text {
        font-size: 16px;
        text-align: center;
    }

    .header-left.green {
        border-bottom: solid #ff8500 4px;
    }

    .search-row {
        text-align: center;
    }

    .table-content-row {
        border-bottom: solid #ff8500 4px;
        border-top: solid #ff8500 4px;
    }

    .reviews-block {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 0;
    }

    .search-row button {
        width: auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    .container {
        width: 100%;
    }

    .main:before,
    .main:after,
    .content-right:after {
        content: none;
        display: none;
    }

    .header-left,
    .header-right {
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .table-content-row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .table-btn-row > a,
    .table-btn-row > button {
        padding: 10px 5px;
    }

    .reviews-block {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 991px) {

    .logo__header {
        float: none;
    }

    .logo-header-text {
        margin-top: 10px;
        font-size: 25px;
    }

    /*.container {
        width:100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }*/
    .logo-row {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .header-left,
    .header-right {
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
    }

    .main-right {
        background: #FFF;
    }

    .list {
        display: block;
        width: 100%;
        overflow: hidden;
        background: #fff;
    }

    .list > li {
        display: block;
        float: left;
        position: relative;
        clear: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list .vcenter {
        display: block;
        width: 100%;
        text-align: center;
    }

    .list .vcenter.round {
        display: inline-block;
        width: 60px;
        max-width: 60px;
        height: 60px;
        line-height: 60px;
        clear: right;
        font-size: 45px;
        margin-bottom: 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    .list:not(.plus) > li {
        text-align: center;
        width: 33.333333%;
    }

    .list.plus > li {
        width: 50%;
        padding-left: 50px;
    }

    .license-block__wrap {
        min-height: 0;
    }

    footer {
        background: #f6f4f4;
    }
}

@media screen and (max-width: 767px) {

    .header-left,
    .header-right {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-left,
    .header-right,
    form .header {
        text-align: center;
    }

    .list:not(.plus) > li {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .list .vcenter.round {
        display: inline-block;
        width: 54px;
        max-width: 54px;
        height: 54px;
        min-height: 54px;
        line-height: 54px;
        font-size: 40px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
    }

    .list.plus > li {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    form .help,
    .col-sm-4 .select,
    .col-sm-6 .select {
        margin-bottom: 15px;
    }

    .top-10 {
        margin-top: 10px !important;
    }

    .bottom-0 {
        margin-bottom: 0 !important;
    }

    .table-content-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .propositions [class*='table-col-'] {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .propositions [class*='table-col-'] > .title {
        display: block;
        vertical-align: middle;
        text-align: left;
        color:#666;
        font-family: 'FuturaNewBold-Reg';
        font-size: 16px;
        text-transform: uppercase;
    }

    .propositions [class*='table-col-'] > div {
        display: block;
        vertical-align: middle;
        width: 50%;
        float: left;
        text-align: left;
        padding-left: 15px;
    }

    .propositions [class*='table-col-'] > div:last-child {
        text-align: left;
        padding-left: 10px;
        font-size: 16px;
        margin-left: 0;
    }

    .propositions .table-content-row {
        padding-left: 0;
        padding-right: 0;
    }

    .table-content-row > div {
        background: #f6f4f4;
    }

    .table-content-row > div:nth-child(2n+2) {
        background: #fff;
    }

    .table-content-row .table-btn-row {
        text-align: center !important;
        width: 100% !important;
    }

    .table-content-row .table-btn-row button {
        padding-left: 45px;
        padding-right: 45px;
        font-size: 16px;
    }

    .modal-dialog {
        margin: 0;
        border: none !important;
    }

    .modal-header {
        background: #f6f4f4;
    }

    .modal-title {
        margin-top: 40px;
    }

    .modal-body label {
        display: none;
    }

    .modal-footer {
        text-align: center;
    }

    .modal-footer button {
        margin-left: 0;
        margin-right: 0;
        display: block;
        width: 50% !important;
        margin-left: 25% !important;
        margin-right: 25% !important;
        margin-bottom: 30px;
        clear: both;
    }
    .modal-backdrop {
        background-color: transparent;
    }
}

.anchor-micro-container {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.anchor-micro-container a {
    color: #ff8500;
}



/**
Best offer Widget
 */
.best-offer-widget {
    z-index: 98;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.best-offer-widget__wrap:nth-child(1):hover{
    border: 2px solid #59af71;
}

.best-offer-widget__wrap {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #fbfafa;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
    font-size: 20px;
    width: 420px;
    height: 95px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 9999;
    position: relative;
}

.best-offer-widget__close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    font-size: 22px;
    color: #4b68b1;
    right: 9px;
    z-index: 99999;
}
.best-offer-widget__close-wrap {

}

.best-offer-widget__logo {
    display: inline-block;
    margin: 0 auto;
    margin-top: 17px;
    height: 49px;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-offer-widget__text {
    display: inline-block;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0px;
    color: #0a0a0a;
}

.best-offer-widget a{
    text-decoration: none!important;
}

@media screen and (max-width: 450px) {

    .best-offer-widget__logo {
        display: block;
        margin-top: 0;
    }

    .best-offer-widget__text {
        font-size: 19px;
        padding-top: 10px;
        text-align: center;
        margin-top: -4px;
        display: block;
    }


    .best-offer-widget__wrap {
        background-color: #fbfafa;
        /* border-radius: 10px; */
        -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
        font-size: 20px;
        width: 90%;
        height: 120px;
        float: inherit;
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 0 auto;
        text-align: center;
    }
}

.contentBlock{
    background-color:#FFF;
    position:relative;
    padding-left:30px;
}

a.table-content-row {
    display: block;
    text-decoration: none;
}










*{
    font-family: 'Noto Sans', sans-serif !important;
}

.headerTextBlock > h2{color:#000000;font-size:24px;margin-bottom:5px;}
.headerTextBlock > .info{color:#666666;font-size:14px;}

.header-row{background-color:#FFF;border-bottom:4px solid #ffa608;}
.table-content-row:hover{background-color:#FFF;}
.header-row > div{background-color:#ffffff;font-size:11px;color:#333333;font-weight:normal;}

.table-content-row:nth-child(2n+2){background-color:#fbfafa;}
.table-col-2.summ-col{width:13%;}
.table-col-3{width:27%;}

.table-content-row.top {
    position: relative;
}

.table-content-row.top:before {
    content: '';
    height: 72px;
    width: 72px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("/img/best.svg");
    background-position: top left;
    background-repeat: no-repeat;
}


.btn-submit{
    -webkit-border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
    -moz-border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
    border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
    background-color: #ffa608;
    border: solid 2px #ffa608;
    font-size:11px;
    color:#333333;
}

.btn-submit:hover, .btn-submit:focus, .btn-submit:active{background:#fbfafa;color:#333333;}

.logo{background:transparent;}
.logo-row{padding-top:30px;padding-bottom:20px;}
.logo-header-text{float:left;margin-top:17px;color:#666666;font-size:14px;text-transform: none;margin-left:75px;}
.logo-header-text::before{
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffa608;
    content:"";
    display:inline-block;
    margin-right:3px;
    margin-bottom:2px;
}
.license-block__wrap{margin:0px;margin-top:30px;}
.headerTextBlock > h2{margin-bottom:0px;font-weight:bold;}
.headerTextBlock{padding-bottom:30px;padding-left:30px;}
.logo-row{margin-left:-30px;}

.table-btn-row > a, .table-btn-row > button, .search-row button{font-size:11px;}

.propositions [class*="table-col-"] > div{font-size:13px;}
footer{font-size:13px;padding-top:0px;}

@media screen and (max-width: 768px) {
    .logo__header{float:none;margin-left:45px;}
    .logo-header-text{float:none;margin-left:45px;margin-bottom:0px;}
    .headerTextBlock h2{margin-top:0px;}
    .table-col-2.summ-col{width:100%;}
}

@media screen and (max-width: 700px) {



}

.main_offer {
    background: none!important;
    font-size: 29px!important;
}