.bg {
    /* chuttersnap-733749-unsplash: */
    font-family: Lato-Light, Helvetica, sans-serif;
    background-image: radial-gradient(79% 55%, #FFFFFF 3%, rgba(252,252,252,1.00) 3%, rgba(0,0,0,0.75) 265%);
    background-position: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
}


/*body {*/
/*background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4KW45x0Ue/videoblocks-blurred-background-of-rotating-chaotic-scattered-100-dollars-bills_sdx5nhnqf_thumbnail-full01.png");*/
/*}*/
.offer {
    max-width: 663px;
    width: 100%;
    margin: 0 auto;
}

.offer {
    background-repeat: no-repeat;
    background-position: center;
}


.offer__text {
    font-size: 20px;
    color: #000000;
    line-height: 36px;
    text-shadow: 1px 4px 1px rgba(255, 255, 255, 0.82);
}

.offer__text span {
    padding: 7px;
}

.offer__name {
    font-size: 27px;
}

.offer__feature {
    background: #FFFFFF;
}
.offer__feature__text {
    padding: 40px;
    /* Кредиты на карту от : */
    font-size: 21px;
    color: #47B422;
    line-height: 20px;
    font-style: italic;
    display: inline-block;
}

.checked {
    color: orange;
}

.rating {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.rating__text {
    font-size: 10px;
}



.logo_text {
    /* Type something: */
    font-size: 29px;
    color: rgb(251, 251, 251);
    letter-spacing: 1.67px;
    line-height: 23px;
    text-shadow: 0px 0px 3px #111111;
}
.logo {
    width: 200px;
    margin: 0 auto;
    padding: 14px;
    background-color: #00000021;
    width: 100%;
    text-align: center;
    z-index: 99999;
    position: relative;
}

.header-text {
    font-size: 31.75px;
    color: #000000;
    line-height: 23px;
    margin: 30px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    background-color: #ffffff;
    /* border: 1px solid #0000000f; */
    /* margin-top: 5px; */
    font-size: 20px;
    font-weight: 300;
    padding: 6px;
    padding-left: 9px;
    border-radius: 7px;
    color: #ff;
    width: fit-content;
    text-align: center;
}

.offer {
    background-color: #ffffff9e;
}

.block__wrap__yellow {
    /* background-color: #00000063; */
    border-radius: 5px;
    /* border: 2px solid #ffc500; */
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    /* color: #fff; */
    margin-bottom: 0px;
}

.block__wrap__gray {
    /* background-color: #ffffff; */
    border-radius: 10px;
    padding: 4px;
    /* border: 2px solid #bbb; */
    color: #3c3c3c;
    text-align: center;
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.4;
    font-family: "roboto-example", sans-serif;
    overflow-x: hidden;
    opacity: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header__topline {
    padding-top: 23px;
}

.header__logotype {
    float: left;
    max-width: 190px;
}

.header__nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__nav li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 23px;
}

.header__nav li a {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 5px 0 20px;
    color: #3b3e44;
}

.header__nav li a:hover {
    text-decoration: none;
    color: #f3b30f;
}

.header__nav li .header__nav-active {
    border-bottom: solid 4px #f3b90f;
    color: #f3b30f;
}

.header__bottomline {
    height: 148px;
    background-color: #fb1f52;
    overflow: hidden;
}

.header__title {
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0.2px;
    font-family: 'MontserratExtraBold', sans-serif;
    margin: 0;
    line-height: 148px;
    position: relative;
}

.header__title::before {
    content: '';
    display: block;
    width: 258px;
    height: 72px;
    background: url(../img/left.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: -290px;
}

.header__title::after {
    content: '';
    display: block;
    width: 449px;
    height: 120px;
    background: url(../img/right.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: -395px;
}

.offers {
    padding-top: 30px;
}

.offer {
    padding: 10px 40px 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #d9dae4;
    font-size: 14px;
    /* -webkit-flex-wrap: wrap; */
    /*-ms-flex-wrap: wrap;*/
    /* flex-wrap: wrap; */
    position: relative;
    margin-bottom: 20px;
}

.offer__top {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /*display: -ms-flexbox;*/
    /* display: flex; */
}

.offer__logo {
    padding-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 110px;
    background-position: center;
    max-width: 190px;
    margin: 0 auto;
}

.offer__logo-wrap a {
    display: block;
    width: 100%;
}

.offer__logo-wrap {
    /* -webkit-box-flex: 1; */
    /* -webkit-flex: 1 0 20%; */
    /*-ms-flex: 1 0 20%;*/
    /* flex: 1 0 20%; */
    /* display: flex; */
    /* align-items: center; */
    display: block;
    display: inline-block;
    float: left;
    width: 250px;
}

.offer__desc-wrap {
    /* -webkit-box-flex: 1; */
    /* -webkit-flex: 1 0 60%; */
    /*-ms-flex: 1 0 60%;*/
    /* flex: 1 0 60%; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /*display: -ms-flexbox;*/
    /* display: flex; */
    /* -webkit-flex-wrap: wrap; */
    /*-ms-flex-wrap: wrap;*/
    /* flex-wrap: wrap; */
    display: block;
    position: relative;
    clear: both;
    display: inline-block;
    vertical-align: top;
    /* padding-top: 14px; */
    TEXT-ALIGN: center;
    width: 100%;
    margin: 0 auto;
    /* max-width: 420px; */
}



.offer__title {
    margin-top: 0;
    font-size: 18px;
    font-family: 'MontserratExtraBold', sans-serif;
    color: #22243d;
    margin-bottom: 5px;
    line-height: 0.9;
}



.offer__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
}



.offer__period-wrap {
    /* -webkit-box-flex: 1; */
    /* -webkit-flex: 1; */
    /*-ms-flex: 1;*/
    /* flex: 1; */
    display: inline-block;
    margin: 2px;
    /* vertical-align: bottom; */
}

.offer__option-title {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 11px;
    color: #8a8b9a;
    text-transform: uppercase;
}

.offer__option-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'MontserratBold', sans-serif;
    color: #22243d;
    line-height: 0.9;
}

.offer__percent {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    color: #22243d;
    font-family: 'MontserratBold', sans-serif;
    font-weight: 700;
}

.offer__percent span {
    font-size: 36px;
    margin-left: 10px;
}

.offer__button {
    display: block;
    width: 170px;
    height: 44px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffab00;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    text-transform: uppercase;
    margin-left: auto;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.offer__button:hover {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:active {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:focus {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__bottom {
    /* border-top: 1px solid #d9dae4; */
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

.offer__bottom--accent-title {
    position: absolute;
    top: -10px;
    right: 0;
    color: #f3b30f;
    font-family: 'MontserratBold', sans-serif;
    background-color: #fff;
    margin: 0;
    padding-left: 10px;
}

.offer__bottom--item {
    margin-bottom: 20px;
}

.offer__bottom-title {
    width: 20%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: #8a8b9a;
}

.offer__bottom-desc {
    display: inline-block;
}

.offer__bottom-desc ul {
    padding-left: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
.offer__bottom-desc li {
    text-decoration: none;
    list-style-type: none;
    background-color: #ffffff;
    /* border: 1px solid #0000000f; */
    /* margin-top:5px; */
    font-size: 20px;
    font-weight: 300;
    padding: 6px;
    padding-left:9px;
    border-radius: 7px;
    color: #ff;
    width: fit-content;
}

.offer__bottom--link-more {
    font-family: 'MontserratBold', sans-serif;
    font-size: 14px;
    color: #7344f6;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.offer__bottom--link-more::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 7px;
    margin-left: 4px;
    line-height: 0;
    background: url(../img/arrow.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.offer__bottom--more-wrap {
    display: none;
}

.footer {
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid #d9dae4;
    font-size: 14px;
    color: #8a8b9a;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .header__topline{
        display: none;
    }
    .header__title{
        font-size: 27px !important;
        margin: 10px 0 !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__topline {
        padding-bottom: 20px;
    }

    .header__bottomline {
        height: auto;
    }

    .header__title {
        line-height: 1.3;
        margin: 50px 0;
        font-size: 36px;
    }

    .header__title::before {
        display: none;
    }

    .header__title::after {
        display: none;
    }

    .offer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .offer__top {
        /* -webkit-flex-wrap: wrap; */
        /*-ms-flex-wrap: wrap;*/
        /* flex-wrap: wrap; */
    }

    .offer__logo {
        margin: 0 auto;
        padding: 0;
    }

    .offer__logo-wrap {
        /* -webkit-box-flex: 1; */
        /* -webkit-flex: 1 0 100%; */
        /*-ms-flex: 1 0 100%;*/
        /* flex: 1 0 100%; */
        padding-bottom: 20px;
        height: 100px;
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
    }

    .offer__logo-wrap a {
        /*display: flex;*/
        height: 100%;
        align-items: center;
    }

    .offer__desc-wrap {
        /* -webkit-box-flex: 1; */
        /* -webkit-flex: 1 0 100%; */
        /*-ms-flex: 1 0 100%;*/
        /* flex: 1 0 100%; */
    }

    .offer__button {
        /* float: right; */
    }

    .offer__button-wrap {
        /*-webkit-box-flex: 1;*/
        /*-webkit-flex: 1 0 100%;*/
        /*-ms-flex: 1 0 100%;*/
        /*flex: 1 0 100%;*/
        padding-top: 7px;
    }

    .offer__percent {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 18px;
    }

    .offer__percent span {
        font-size: 24px;
    }

    .offer__limit--right {
        float: right;
    }

    .offer__title {
        font-size: 16px;
    }

    .offer__option-desc {
        font-size: 14px;
    }

    .offer__bottom {
        padding-top: 0px;
        padding-bottom: 40px;
        margin-top: 20px;
    }

    .offer__bottom--accent-title {
        font-size: 12px;
    }

    .offer__bottom--link-more {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .offer__bottom-title {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .offer__top {
        /* -webkit-flex-wrap: wrap; */
        /*-ms-flex-wrap: wrap;*/
        /* flex-wrap: wrap; */
    }

    .offer__logo-wrap {
        /* -webkit-box-flex: 1; */
        /* -webkit-flex: 1 0 100%; */
        /*-ms-flex: 1 0 100%;*/
        /* flex: 1 0 100%; */
        padding-bottom: 20px;
    }

    .offer__desc-wrap {
        /* -webkit-box-flex: 1; */
        /* -webkit-flex: 1 0 100%; */
        /*-ms-flex: 1 0 100%;*/
        /* flex: 1 0 100%; */
        text-align: center;
    }

    .offer__button {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .offer__button-wrap {
        /*-webkit-box-flex: 1;*/
        /*-webkit-flex: 1 0 100%;*/
        /*-ms-flex: 1 0 100%;*/
        /*flex: 1 0 100%;*/
        padding-top: 20px;
    }

    .offer__limit-wrap {
        /*-webkit-box-flex: 1;*/
        /*-webkit-flex: 1 0 100%;*/
        /*-ms-flex: 1 0 100%;*/
        flex: 1 0 50%;
    }

    .offer__option-title {
        /* margin-top: 20px; */
    }

    .offer__subtitle {
        margin-bottom: 0;
    }

    .offer__percent {
        margin: 28px 0 0;
    }

    .offer__percent span {
        margin-left: 0;
    }

    .offer__bottom {
        margin-top: 0px;
    }
}

.active-link::after {
    position: relative;
    bottom: 2px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.offer__button {
    font-size: 23px;
    width: 100%;
}

.offer__button__get {
    background-color: #3882c4;
    max-width: 350px;
    margin: 0 auto;
}

.offer__button__more {
    background-color: #ffffff80;
    color: #000000;
    text-decoration: underline;
    max-width: 260px;
    text-align: center;
    margin: 0 auto;
}

.header__topline {
    display: block !important;
}

.offer__option-desc {
    /*font-size: 21px;*/
}

.offer__option-title {
    font-size: 17px;
}


.wrap {

    position: relative;
}