* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.4;
    font-family: "roboto-example", sans-serif;
    overflow-x: hidden;
    opacity: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header__topline {
    padding-top: 23px;
}

.header__logotype {
    float: left;
    max-width: 190px;
}

.header__nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__nav li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 23px;
}

.header__nav li a {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 5px 0 20px;
    color: #3b3e44;
}

.header__nav li a:hover {
    text-decoration: none;
    color: #f3b30f;
}

.header__nav li .header__nav-active {
    border-bottom: solid 4px #f3b90f;
    color: #f3b30f;
}

.header__bottomline {
    height: 148px;
    background-color: #fb1f52;
    overflow: hidden;
}

.header__title {
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0.2px;
    font-family: 'MontserratExtraBold', sans-serif;
    margin: 0;
    line-height: 148px;
    position: relative;
}

.header__title::before {
    content: '';
    display: block;
    width: 258px;
    height: 72px;
    background: url(../img/left.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: -290px;
}

.header__title::after {
    content: '';
    display: block;
    width: 449px;
    height: 120px;
    background: url(../img/right.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: -395px;
}

.offers {
    padding-top: 30px;
}

.offer {
    padding: 30px 40px 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #d9dae4;
    font-size: 14px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
}

.offer__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.offer__logo {
    padding-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 100px;
    max-width: 200px;
}

.offer__logo-wrap a {
    display: block;
    width: 100%;
}

.offer__logo-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
    display: flex;
    align-items: center;
}

.offer__desc-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 60%;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offer__button-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

.offer__title {
    margin-top: 0;
    font-size: 18px;
    font-family: 'MontserratExtraBold', sans-serif;
    color: #22243d;
    margin-bottom: 5px;
    line-height: 0.9;
}

.offer__title-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.offer__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.offer__limit-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.offer__period-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.offer__option-title {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 11px;
    color: #8a8b9a;
    text-transform: uppercase;
}

.offer__option-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'MontserratBold', sans-serif;
    color: #22243d;
    line-height: 0.9;
}

.offer__percent {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    color: #22243d;
    font-family: 'MontserratBold', sans-serif;
    font-weight: 700;
    order: 3;
}

.offer__percent span {
    font-size: 36px;
    margin-left: 10px;
}

.offer__button {
    display: block;
    width: 170px;
    height: 44px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffab00;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    text-transform: uppercase;
    margin-left: auto;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.offer__button:hover {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:active {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:focus {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__bottom {
    border-top: 1px solid #d9dae4;
    margin-top: 30px;
    padding-top: 40px;
    position: relative;
}

.offer__bottom--accent-title {
    position: absolute;
    top: -10px;
    right: 0;
    color: #f3b30f;
    font-family: 'MontserratBold', sans-serif;
    background-color: #fff;
    margin: 0;
    padding-left: 10px;
}

.offer__bottom--item {
    margin-bottom: 20px;
}

.offer__bottom-title {
    width: 20%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: #8a8b9a;
}

.offer__bottom-desc {
    display: inline-block;
}

.offer__bottom--link-more {
    font-family: 'MontserratBold', sans-serif;
    font-size: 14px;
    color: #7344f6;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.offer__bottom--link-more::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 7px;
    margin-left: 4px;
    line-height: 0;
    background: url(../img/arrow.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.offer__bottom--more-wrap {
    display: none;
}

.footer {
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid #d9dae4;
    font-size: 14px;
    color: #8a8b9a;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .header__topline{
        display: none;
    }
    .header__title{
        font-size: 27px !important;
        margin: 10px 0 !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__topline {
        padding-bottom: 20px;
    }

    .header__bottomline {
        height: auto;
    }

    .header__title {
        line-height: 1.3;
        margin: 50px 0;
        font-size: 36px;
    }

    .header__title::before {
        display: none;
    }

    .header__title::after {
        display: none;
    }

    .offer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .offer__top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .offer__logo {
        margin: 0 auto;
        padding: 0;
    }

    .offer__logo-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-bottom: 20px;
        height: 100px;
    }

    .offer__logo-wrap a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .offer__desc-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }

    .offer__button {
        float: right;
        width: 100%;
    }

    .offer__button-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-top: 40px;
    }

    .offer__percent {
        display: inline-block;
        width: 50%;
        text-align: right;
        font-size: 18px;
        flex: 1 0 50%;
        margin-top: 0;
    }

    .offer__period-wrap{
        flex: 1 0 100%;
        order: 4;
    }

    .offer__limit-wrap{
        flex: 1 0 50%;
    }

    .offer__percent span {
        font-size: 24px;
    }

    .offer__limit--right {
        float: right;
    }

    .offer__title {
        font-size: 16px;
    }

    .offer__option-desc {
        font-size: 14px;
    }

    .offer__bottom {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 20px;
    }

    .offer__bottom--accent-title {
        font-size: 12px;
    }

    .offer__bottom--link-more {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .offer__bottom-title {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .offer__top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .offer__logo-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-bottom: 20px;
    }

    .offer__desc-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }

    .offer__button {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .offer__button-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-top: 20px;
    }

    .offer__limit-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 50%;
    }

    .offer__option-title {
        margin-top: 20px;
    }

    .offer__subtitle {
        margin-bottom: 0;
    }

    .offer__percent {
        margin: 28px 0 0;
    }

    .offer__percent span {
        margin-left: 0;
    }

    .offer__bottom {
        margin-top: 30px;
    }
}

.active-link::after {
    position: relative;
    bottom: 2px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.best-offer-widget {
    z-index: 98;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.best-offer-widget__wrap:nth-child(1):hover {
    border: 2px solid #59af71;
}

.best-offer-widget__wrap {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #fbfafa;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
    font-size: 20px;
    width: 420px;

    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 9999;
    position: relative;
}

.best-offer-widget__close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    font-size: 22px;
    color: #4b68b1;
    right: 9px;
    z-index: 99999;
}

.best-offer-widget__close-wrap {
}

.best-offer-widget__logo {
    display: inline-block;
    margin: 0 auto;
    margin-top: 17px;
    height: 49px;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-offer-widget__text {
    display: inline-block;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0px;
    color: #0a0a0a;
}

.best-offer-widget a {
    text-decoration: none !important;
}

@media screen and (max-width: 450px) {
    .best-offer-widget__logo {
        display: block;
        margin-top: 0;
    }

    .best-offer-widget__text {
        font-size: 16px;
        padding-top: 1px;
        text-align: center;
        margin-top: -6px;
        display: block;
    }

    .social img {
        width: 45px;
    }

    .best-offer-widget__wrap {
        background-color: #fbfafa;
        /* border-radius: 10px; */
        -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.55);
        font-size: 20px;
        width: 90%;
        height: 160px;
        float: inherit;
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 0 auto;
        text-align: center;
    }
    .wrap{
        overflow-x: hidden;
    }
}