@font-face {
    font-family: "OpenSansCondensedLight";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype"); }

@font-face {
    font-family: "OpenSansCondensedBold";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot");
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype"); }

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1; }

*:-moz-placeholder {
    color: #666;
    opacity: 1; }

*::-moz-placeholder {
    color: #666;
    opacity: 1; }

*:-ms-input-placeholder {
    color: #666;
    opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666; }

body input:required:valid,
body textarea:required:valid {
    color: #666; }

html, body {
    height: 100%; }

body {
    font-size: 19px;
    min-width: 320px;
    position: relative;
    line-height: 1.3;
    font-family: "OpenSansCondensedLight", sans-serif;
    overflow-x: hidden;
    color: #333333;
    background: #ecf0f1;
    opacity: 1; }

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto; }

h1, h2, h3, h4, h5 {
    font-weight: normal; }

.header {
    padding: 5px 0;
    background: #fff;
}
.header__title {
    font-weight: lighter;
    font-size: 15px;
    margin: 2px 0 0 114px;
    display: inline-block;
    padding-bottom: 18px;
    padding-top: 14px;
    position: absolute;
    color: #000;
    text-transform: uppercase;
}
.header__logo {
    display: inline-block!important; }

.condition {
    text-align: center;
    padding: 40px 0;
    color: #000;
    background-color: #fff;
}
.condition__item {
    max-width: 330px;
    margin: 0 auto; }
.condition__item img{
    background-color: #2d7ab2;
    border-radius: 67px;
    padding: 20px;
}
.condition__title {
    font-size: 24px;
    margin: 10px; }

.offers__title {
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px; }

.offer {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 10px;
    -webkit-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition: border .25s ease; }
.offer:hover {
    border-color: #428bca; }
.offer__logo {
    height: 60px;
    max-width: 143px;
    margin: 15px auto;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat; }
.offer__table > tbody > tr:nth-child(2n+1) > td {
    background-color: #f9f9f9; }
.offer__table {
    width: 100%; }
.offer__table td {
    border-top: 1px solid #dddddd;
    padding: 8px; }
.offer__table td span {
    font-size: 18px;
    color: #428bca; }
.offer__table div {
    display: block;
    max-width: 181px;
    margin: 0 auto;
    background-repeat: no-repeat;
    -webkit-background-size: 24px 24px;
    background-size: 24px;
    background-position: left center;
    padding-left: 33px;
    text-align: left; }
.offer__table-icon1 {
    background-image: url("../img/summa.png"); }
.offer__table-icon2 {
    background-image: url("../img/procent.png"); }
.offer__table-icon3 {
    background-image: url("../img/srok.png"); }
.offer__hit {
    padding: 8px 0 0;
    margin: 0;
    color: #428bca;
    font-size: 13px; }
.offer__hit-wrap {
    text-align: center;
    margin-bottom: 10px; }
.offer__button {
    margin-top: 10px;
    padding: 0.6em 0.8em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    text-align: center;
    color: white;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    vertical-align: baseline;
    display: inline-block;
    white-space: nowrap;
    background-color: #428bca;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    outline: none; }
.offer__button:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #5697d0; }
.offer__button:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #357ebd; }
.offer__button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #357ebd; }

.footer {
    color: white;
    padding-top: 10px;
    text-align: center;
    background-color: #2c3e50;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nav {
    list-style-type: none;
    padding: 0;
    margin: 15px 0; }
.nav li {
    display: inline-block;
    margin: 5px 10px; }
.nav li a {
    color: #ffffff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .offers__title{
        display: none;
    }
    .header__title{
        display: none !important;
    }
    .condition {
        display: none; }
    .condition__item {
        margin: 15px auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .header {
        text-align: center; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    /**/ }
















* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.4;
    font-family: "roboto-example", sans-serif;
    overflow-x: hidden;
    opacity: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header__topline {
    padding-top: 23px;
}

.header__logotype {
    float: left;
    max-width: 190px;
}

.header__nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__nav li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 23px;
}

.header__nav li a {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 5px 0 20px;
    color: #3b3e44;
}

.header__nav li a:hover {
    text-decoration: none;
    color: #f3b30f;
}

.header__nav li .header__nav-active {
    border-bottom: solid 4px #f3b90f;
    color: #f3b30f;
}

.header__bottomline {
    height: 148px;
    background-color: #fb1f52;
    overflow: hidden;
}


.offers {
    padding-top: 30px;
}

.offer {
    padding: 30px 40px 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #d9dae4;
    font-size: 14px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
}

.offer__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.offer__logo {
    padding-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.offer__logo-wrap a {
    display: block;
    width: 100%;
}

.offer__logo-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
    display: flex;
    align-items: center;
}

.offer__desc-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 60%;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offer__button-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

.offer__title {
    margin-top: 0;
    font-size: 18px;
    font-family: 'MontserratExtraBold', sans-serif;
    color: #22243d;
    margin-bottom: 5px;
    line-height: 0.9;
}

.offer__title-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.offer__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.offer__limit-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.offer__period-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.offer__option-title {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 11px;
    color: #8a8b9a;
    text-transform: uppercase;
}

.offer__option-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'MontserratBold', sans-serif;
    color: #22243d;
    line-height: 0.9;
}

.offer__percent {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    color: #22243d;
    font-family: 'MontserratBold', sans-serif;
    font-weight: 700;
}

.offer__percent span {
    font-size: 36px;
    margin-left: 10px;
}

.offer__button {
    display: block;
    width: 170px;
    /* height: 44px; */
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #2d7ab2;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    margin-left: auto;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    margin-top: 0px;
}

.offer__button:hover {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:active {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__button:focus {
    background-color: #ff9b00;
    color: #ffffff;
    text-decoration: none;
}

.offer__bottom {
    border-top: 1px solid #d9dae4;
    margin-top: 30px;
    padding-top: 40px;
    position: relative;
}

.offer__bottom--accent-title {
    position: absolute;
    top: -10px;
    right: 0;
    color: #f3b30f;
    font-family: 'MontserratBold', sans-serif;
    background-color: #fff;
    margin: 0;
    padding-left: 10px;
}

.offer__bottom--item {
    margin-bottom: 20px;
}

.offer__bottom-title {
    width: 20%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: #8a8b9a;
}

.offer__bottom-desc {
    display: inline-block;
}

.offer__bottom--link-more {
    font-family: 'MontserratBold', sans-serif;
    font-size: 14px;
    color: #7344f6;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.offer__bottom--link-more::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 7px;
    margin-left: 4px;
    line-height: 0;
    background: url(../img/arrow.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.offer__bottom--more-wrap {
    display: none;
}

.footer {
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid #d9dae4;
    font-size: 14px;
    color: #8a8b9a;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .header__topline{
        display: none;
    }
    .header__title{
        font-size: 27px !important;
        margin: 10px 0 !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__topline {
        padding-bottom: 20px;
    }

    .header__bottomline {
        height: auto;
    }

    .header__title {
        line-height: 1.3;
        margin: 50px 0;
        font-size: 36px;
    }

    .header__title::before {
        display: none;
    }

    .header__title::after {
        display: none;
    }

    .offer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .offer__top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .offer__logo {
        margin: 0 auto;
        padding: 0;
    }

    .offer__logo-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-bottom: 20px;
        height: 100px;
    }

    .offer__logo-wrap a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .offer__desc-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }

    .offer__button {
        float: right;
    }

    .offer__button-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-top: 40px;
    }

    .offer__percent {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 18px;
    }

    .offer__percent span {
        font-size: 24px;
    }

    .offer__limit--right {
        float: right;
    }

    .offer__title {
        font-size: 16px;
    }

    .offer__option-desc {
        font-size: 14px;
    }

    .offer__bottom {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 20px;
    }

    .offer__bottom--accent-title {
        font-size: 12px;
    }

    .offer__bottom--link-more {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .offer__bottom-title {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .offer__top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .offer__logo-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-bottom: 20px;
    }

    .offer__desc-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }

    .offer__button {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .offer__button-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-top: 20px;
    }

    .offer__limit-wrap {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 50%;
    }

    .offer__option-title {
        margin-top: 20px;
    }

    .offer__subtitle {
        margin-bottom: 0;
    }

    .offer__percent {
        margin: 28px 0 0;
    }

    .offer__percent span {
        margin-left: 0;
    }

    .offer__bottom {
        margin-top: 30px;
    }
}

.active-link::after {
    position: relative;
    bottom: 2px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}